<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <table id="na_store_table" class="table table-striped store_table">
        <thead>
          <th>Select</th>
          <th>
            <%= link_to 'Location', "#", data: {order_by: 'location'} %>
          </th>
          <th>
            <%= link_to 'Franchisee', '#', data: {order_by: 'franchisee_name'} %>
          </th>
          <th>Address</th>
          <th>
            <%= link_to 'City', '#', data: {order_by: 'city'} %>
          </th>
          <th>
            <%= link_to 'St', '#', data: {order_by: 'state_or_province'} %>
          </th>
          <!-- <th>Postal Code</th> -->
          <th>Country</th>
          <th>Phone</th>
          <th></th>
          <th></th>
          <% if user_is_admin? %>
           <th></th>
          <% end %>
        </thead>

        <tbody>
          <% na_stores.each do |s| %>
            <tr>
              <td><%= check_box_tag s.id, s.id, is_in_current_store_list?(s), class: 'store_select' %></td>
              <td><%= s.location %></td>
              <td><%= s.fz_name %></td>
              <td><%= s.address %></td>
              <td><%= s.city %></td>
              <td><%= s.state_or_province %></td>
              <!-- <td><%= s.postal_code %></td> -->
              <td><%= s.country %></td>
              <td>
                <%= link_to s.phone_number, "tel:#{s.phone_number}" %>
              </td>
              <td>
                <%= link_to "View", na_store_path(s), class: 'btn btn-default btn-sm',
                            target: '_blank' %>
              <td>
                <%= link_to "Edit", edit_na_store_path(s), class: 'btn btn-warning btn-sm',
                            target: '_blank' %>
              </td>
              <% if user_is_admin? %>
                <td>

                  <%= link_to "Destroy", na_store_path(s), method: :delete,
                              class: 'btn btn-danger btn-sm',
                              data: {confirm: "Are you sure? This is peranent!"} %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
