<style>

</style>

<div id="edit_all_na_stores" class="edit_all_table">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= quick_options ["Add Store", new_na_store_path] %>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <table id="na_store_table" class="table store_table">
          <thead>
            <th>Fz Image</th>
            <% NA_HEADERS.each do |h| %>
              <th>
                <%= link_to h.to_s.titlecase, "#", data: {order_by: h.to_s, filter_by: h.to_s} %>
              </th>
            <% end %>
          </thead>

          <tbody>
            <% @na_stores.each do |s| %>
              <%= content_tag :tr, data: {store_id: s.id.to_s}, class: 'outer_row' do %>
                <%= form_for s, remote: true do |f| %>
                  <td>
                    <div class="fz_image">
                      <% if s.fz_image %>
                        <div class="thumb">
                          <%= image_tag s.fz_image, width: '40px' %>
                          <%= link_to 'edit', 'edit_fz_image', class: 'edit_fz_image_control btn btn-warning btn-sm' %>
                          <%= link_to 'delete', 'delete_fz_image', class: 'delete_fz_image_control btn btn-danger btn-sm' %>
                        </div>

                        <%= f.file_field :fz_image, class: 'form-control hidden', form: "edit_na_store_#{s.id.to_s}" %>
                      <% else %>
                        <%= f.file_field :fz_image, class: 'form-control', form: "edit_na_store_#{s.id.to_s}" %>
                      <% end %>
                    </div>
                  </td>
                  <% NA_HEADERS.each do |h| %>
                    <td>
                      <% if NaStore.bool_types.include?(h) %>
                        <%= f.check_box h, form: "edit_na_store_#{s.id.to_s}" %>
                      <% else %>
                        <%= f.text_field h, form: "edit_na_store_#{s.id.to_s}", class: 'form-control' %>
                      <% end %>
                    </td>
                  <% end %>
                <% end # form %>
              <% end # tr %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

      <%= render partial: 'parts/pagination', locals: {collection: @na_stores} %>
  </div>
</div>

<script>

</script>

<script>
  $(document).ready(function(){
    activateTable('#na_store_table', 'location', 'asc');
    updateCurrentPlaylistOnCheck('na');

    var e = new editAllTable('#na_store_table');
    e.init();

  });
</script>
