<div id="na_stores">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= quick_options ["New", new_na_store_path] %>
      </div>
    </div>
  </div>

  <%= page_header "North American Stores" %>

  <%= render partial: 'table', locals: {na_stores: @na_stores} %>

</div>

<script>

  $(document).ready(function(){
    activateTableMenu('#na_store_table', '<%= @order_by %>', '<%= @order_direction %>');
  });
</script>
