<p id="notice"><%= notice %></p>

<h1>Na Stores</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @na_stores.each do |na_store| %>
      <tr>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= na_store. %></td>
        <td><%= link_to 'Show', na_store %></td>
        <td><%= link_to 'Edit', edit_na_store_path(na_store) %></td>
        <td><%= link_to 'Destroy', na_store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Na Store', new_na_store_path %>
