<p id="notice"><%= notice %></p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @na_store. %>
</p>

<%= link_to 'Edit', edit_na_store_path(@na_store) %> |
<%= link_to 'Back', na_stores_path %>
