<div id="na_store">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= quick_options ["Edit", edit_na_store_path(@na_store)],
                          ["Index", na_stores_path],
                          ["New", new_na_store_path] %>
      </div>
    </div>
  </div>

  <%= page_header "North American Store" %>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <% NA_HEADERS.each do |h| %>
          <% if h == :file_name %>
          <% # This is done to switch fz_image with file_name (below) %>
            <p>
              Fz Image:
              <% if @na_store.fz_image? %>
                <%= image_tag @na_store.fz_image.url(:thumb) %>
              <% else %>
                <strong>No Store Image</strong>
              <% end %>
            </p>
          <% else %>
            <p>
              <%= h.to_s.titlecase %>:
              <strong>
                <%= @na_store.send(h) %>
              </strong>
            </p>
          <% end %>
        <% end %>

        <p>
          File Name:
          <%= @na_store.file_name %>
        </p>
      </div>
    </div>
  </div>
</div>
