<div id="na_store">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= quick_options ["Edit", edit_na_store_path(@na_store)],
                          ["Index", na_stores_path],
                          ["New", new_na_store_path] %>

  <%= page_header "North American Store" %>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <% NA_HEADERS.each do |h| %>
          <p>
            <%= h.to_s.titlecase %>:
            <strong>
              <%= @na_store.send(h) %>
            </strong>
          </p>
        <% end %>

        <p>
          Store Image:
          <% if @na_store.store_image? %>
            <%= image_tag @na_store.store_image.url(:thumb) %>
          <% else %>
            <strong>No Store Image</strong>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
