<div id="na_store">
  <%= page_header "North American Store" %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <% NA_HEADERS.each do |h| %>
          <p>
            <%= h.to_s.titlecase %>:
            <strong>
              <%= @na_store.send(h) %>
            </strong>
          </p>
        <% end %>

        <p>
          Store Image:
          <% if @na_store.store_image? %>
            <%= image_tag @na_store.store_image.url(:thumb) %>
          <% else %>
            <strong>No Store Image</strong>
          <% end %>
        </p>

        <p>
          <div class="form-group">
            <%= link_to "Edit", edit_na_store_path(@na_store), class: 'btn btn-warning' %>
          </div>
          <div class="form-group">
            <%= link_to "Index", na_stores_path, class: 'btn btn-primary' %>
            <%= link_to "New", new_na_store_path, class: 'btn btn-default' %>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
