<%= form_for(intl_store) do |f| %>
  <% if intl_store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(intl_store.errors.count, "error") %> prohibited this intl_store from being saved:</h2>

      <ul>
      <% intl_store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label : %>
    <%= f.text_field : %>
  </div>

  <div class="field">
    <%= f.label : %>
    <%= f.text_field : %>
  </div>

  <div class="field">
    <%= f.label : %>
    <%= f.text_field : %>
  </div>

  <div class="field">
    <%= f.label : %>
    <%= f.text_field : %>
  </div>

  <div class="field">
    <%= f.label : %>
    <%= f.text_field : %>
  </div>

  <div class="field">
    <%= f.label : %>
    <%= f.text_field : %>
  </div>

  <div class="field">
    <%= f.label : %>
    <%= f.text_field : %>
  </div>

  <div class="field">
    <%= f.label : %>
    <%= f.text_field : %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
