<div id="intl_stores">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= quick_options ["New", new_intl_store_path] %>
      </div>
    </div>
  </div>

  <%= page_header "International Stores" %>

  <%= render partial: 'intl_stores/table', locals: {intl_stores: @intl_stores} %>
</div>

<script>
  $(document).ready(function(){
    activateTableMenu('#intl_store_table', '<%= @order_by %>', '<%= @order_direction %>');
    updateCurrentStoreListOnCheck('intl');
  });
</script>
