<p id="notice"><%= notice %></p>

<p>
  <strong>:</strong>
  <%= @intl_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @intl_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @intl_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @intl_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @intl_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @intl_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @intl_store. %>
</p>

<p>
  <strong>:</strong>
  <%= @intl_store. %>
</p>

<%= link_to 'Edit', edit_intl_store_path(@intl_store) %> |
<%= link_to 'Back', intl_stores_path %>
