<div id="intl_store">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= quick_options ["Edit", edit_intl_store_path(@intl_store)],
                          ["Index", intl_stores_path],
                          ["New", new_intl_store_path] %>
      </div>
    </div>
  </div>

  <%= page_header "International Store" %>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <% INTL_HEADERS.each do |h| %>
          <p>
            <%= h.to_s.titlecase %>:
            <strong>
              <%= @intl_store.send(h) %>
            </strong>
          </p>
        <% end %>

        <p>
          Fz Image:
          <% if @intl_store.fz_image? %>
            <%= image_tag @intl_store.fz_image.url(:thumb) %>
          <% else %>
            <strong>No Store Image</strong>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
