<% if object.errors.any? -%>
  <% if local_assigns[:include_text_explanation] %>
    <div id="error_explanation" class="has-error">
      <h3 class="control-label"><%= pluralize(object.errors.count, "error") %> kept this <%= object_name %>
        from being <%= verb %>:
      </h3>

      <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li class="control-label"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <script>
      $(window).load(function(){
    	addErrorsToFields;
   	  });

      function addErrorsToFields(){
        <% object.errors.messages.each do |k, v| %>
      	  <% selector = error_key_to_selector(k, object.class.name.underscore) %>
          $('#<%= selector %>').parent('div').append(errorMessage('<%= v.join(';') %>')).addClass('has-error');
          $('#<%= "#{selector}_1i" %>').parent('div').append(errorMessage('<%= v %>')).addClass('has_error');
        <% end %>
      }

      function errorMessage(message){
          return '<span class="help-block text-danger text-center">' + message + '</span>';
      }
  </script>
<% end -%>
