<div class="row farm_shed_image_select">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label image_attr, label.html_safe, :class => 'control-label' %>
      <%= f.file_field image_attr, :multiple => multiple, :class => 'form-control' %>
      <% unless multiple -%>
      	<%= f.hidden_field "#{image_attr}_cache".to_sym, class: 'farm_shed_cached_image' %>
      <% end -%>
    </div>

    <% if local_assigns[:accepts_remote] -%>
      <div class="form-group">
        <%= f.label "remote_#{image_attr.to_s}_url".to_sym, 'or image URL', :class => 'control-label' %>
        <%= f.text_field "remote_#{image_attr.to_s}_url".to_sym, :class => 'form-control' %>
      </div>
    <% end -%>
  </div>

  <div class="col-md-4 col-md-offset-2 preview_col">
    <% if multiple -%>
      <% f.object.send(image_attr).each do |i| -%>
        <%= image_tag i.url(preview_version) %>
      <% end -%>
    <% else -%>

      <% if f.object.send(image_attr).file -%>
        <div class="form-group">
        	<%= image_tag f.object.send(image_attr).url(preview_version), class: 'preview_image' %>
      	</div>
      	<div class="form-group">
      		<div class="checkbox">
      			<label class="text-danger">
      				<%= f.check_box "remove_#{image_attr}".to_sym, class: 'preview_image_remover' %> Remove image?
      			</label>
      		</div>
      	</div>
      <% end -%>
    <% end -%>
  </div>
</div>

<script>
	$(document).ready(function(){
		$('.preview_image_remover').change(function(){
			if($(this).is(':checked')){
				$(this).closest('.preview_col').find('.preview_image').css('visibility', 'hidden');
			} else{
				$(this).closest('.preview_col').find('.preview_image').css('visibility', 'visible');
			};
		});
	});
</script>
