<div id="store_lists">

  <% if user_is_admin? %>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <% if @show_all %>
            <%= quick_options ['Show Mine', store_lists_path] %>
          <% else %>
            <%= quick_options ["Show All", store_lists_path(:show_all => "true")] %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <%= page_header "Store Lists" %>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-striped">
          <thead>
            <th>Name</th>
            <% if @show_all %>
              <th>User</th>
            <% end %>
            <th>North America Count</th>
            <th>International Count</th>
            <th></th>
            <th></th>
          </thead>

          <tbody>
            <% @store_lists.each do |sl| %>
              <tr>
                <td><%= sl.name %></td>

                <% if @show_all %>
                  <td>
                    <%= mail_to sl.user.email %>
                  </td>
                <% end %>
                <td><%= sl.na_stores.count %></td>
                <td><%= sl.intl_stores.count %></td>
                <td>
                  <%= link_to "Edit", edit_store_list_path(sl, save_current_as_draft: true),
                              class: 'btn btn-default btn-warning' %>
                </td>
                <td>
                  <%= link_to "Delete", store_list_path(sl), method: :delete,
                              class: 'btn btn-danger btn-sm',
                              data: {confirm: "Are you sure?"} %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
