<div id="store_lists">
  <%= page_header "Store Lists" %>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-striped">
          <thead>
            <th>Name</th>
            <% if user_is_admin? %>
              <th>User</th>
            <% end %>
            <th></th>
            <th></th>
          </thead>

          <tbody>
            <% @store_lists.each do |sl| %>
              <tr>
                <td><%= sl.name %></td>

                <% if user_is_admin? %>
                  <td>
                    <%= mail_to sl.user.email %>
                  </td>
                <% end %>
                <td>
                  <%= link_to "Edit", edit_store_list_path(sl),
                              class: 'btn btn-default btn-warning' %>
                </td>
                <td>
                  <%= link_to "Delete", store_list_path(sl), method: :delete,
                              class: 'btn btn-danger btn-sm',
                              data: {confirm: "Are you sure?"} %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
