<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @store_list.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @store_list.name %>
</p>

<%= link_to 'Edit', edit_store_list_path(@store_list) %> |
<%= link_to 'Back', store_lists_path %>
