<div id="edit_playlist">
  <%= page_header "Edit Playlist" %>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= error_explanation @playlist %>
      </div>
    </div>
  </div>

  <%= form_for @playlist do |f| %>
    <%= f.hidden_field :published, value: true %>

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <%= f.label :name, class: 'control-label' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <%= f.submit 'Save', class: 'btn btn-primary' %>
            <%= link_to 'Delete', @playlist, method: :delete, class: 'btn btn-danger',
                        data: {confirm: "Are you sure? This is permanent!"} %>
          </div>
        </div>
      </div>

      <% unless @playlist.na_stores.empty? %>
        <div class="row">
          <div class="col-xs-12">
            <h2>North American Stores</h2>
            <%= render partial: 'na_stores/table', locals: {na_stores: @playlist.na_stores} %>
          </div>
        </div>
      <% end %>

      <% unless @playlist.intl_stores.empty? %>
        <div class="row">
          <div class="col-xs-12">
            <h2>International Stores</h2>
            <%= render partial: 'intl_stores/table', locals: {intl_stores: @playlist.intl_stores} %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<script>
  $(document).ready(function(){
    var na_table = $('#na_store_table');
    selectAllOnSelectAll(na_table);

    var intl_table = $('#intl_store_table');
    selectAllOnSelectAll(intl_table);
  });
</script>

<script>
  updateCurrentPlaylistOnCheck('na');
  updateCurrentPlaylistOnCheck('intl');
</script>
