<div id="playlists">

  <% if user_is_admin? %>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <% if @show_all %>
            <%= quick_options ["My Playlists", playlists_path(:show_mine => 'true')] %>
          <% else %>
            <%= quick_options ['All Playlists', playlists_path] %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <% if @show_all %>
    <%= page_header "All Playlists" %>
  <% else %>
    <%= page_header "My Playlists" %>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-striped">
          <thead>
            <th>Name</th>
            <th>User</th>
            <th>NA</th>
            <th>INTL</th>
            <th><th>
            <th></th>
            <th></th>
          </thead>

          <tbody>
            <% if @waiting_playlist %>
              <tr>
                <td><%= @waiting_playlist.name || 'current draft' %></td>
                <td></td>
                <td><%= @waiting_playlist.na_stores.count %></td>
                <td><%= @waiting_playlist.intl_stores.count %></td>
                <td>
                  <%= link_to "Edit", edit_playlist_path(@waiting_playlist, skip_flash: true),
                              class: 'btn btn-default btn-warning edit_playlist_link' %>
                </td>
                <td>
                  <%= link_to "Delete", playlist_path(@waiting_playlist), method: :delete,
                              class: 'btn btn-danger btn-sm',
                              data: {confirm: "Are you sure?"} %>
                </td>
              </tr>
            <% end %>

            <% @playlists.each do |pl| %>
              <tr>
                <td><%= pl.name %></td>

                <td>
                  <%= mail_to pl.user.email %>
                </td>
                <td><%= pl.na_stores.count %></td>
                <td><%= pl.intl_stores.count %></td>
                <td>
                  <% if pl.live == true %>
                    <%= 'LIVE' %>
                  <% else %>
                    <%= link_to 'GO LIVE!', go_live_playlist_path(pl, show_mine: params[:show_mine]),
                          class: 'btn btn-primary btn-lg' %>
                  <% end %>
                <td>
                  <%= link_to "Edit", edit_playlist_path(pl),
                              class: 'btn btn-default btn-warning edit_playlist_link' %>
                </td>
                <td>
                  <%= link_to "Delete", playlist_path(pl), method: :delete,
                              class: 'btn btn-danger btn-sm',
                              data: {confirm: "Are you sure?"} %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
