<!DOCTYPE html>
<html>
  <head>
    <title>7-Eleven Lobby Wall</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'parts/top_nav' %>
    <%= render partial: 'parts/flash' %>
    <div id="main_content">
      <%= yield %>
    </div>
    <%= render partial: 'parts/footer' %>
  </body>
</html>
